[user]
	name = ynoTL
	email = tonylu23@gmail.com
[pull]
  rebase = false
[alias]
  adog = log --all --decorate --oneline --graph
[diff]
  colorMoved = zebra
[fetch]
  prune = true
[core]
	editor = vim
